.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header{
  background: gainsboro;
  max-width: 100%;
  height: 45px;
  padding: 5px 20px;
  font-size:25px;
  color: aliceblue;
}
.left{
 
  width: 287px;
  height:430px;
  float: left;
}
.content{
  padding: 20px;
  width: 685px;
  height: 430px;
  float: left;
  overflow-wrap: break-word;
  
}
.content img{
  width: 650px;
  height: 300px;
  text-align: center;
}
.right{
  background: #61dafb;
  width: 377px;
  height: 430px;
  float: left;
}

.right ul{
  list-style: none;
  margin-top: 20px;
}
.right ul li{
  padding-bottom: 10px;
}

.footer{
  background-color: greenyellow;
  width: 100%;
  height: 80px;
  clear: both;
}

.left ul{
  list-style: none;
  margin-top: 20px;
  padding: 0px;
  padding-right: 5px;
}
.left ul li{
  margin-bottom: 10px;
  border-bottom: solid 2px;
  padding-bottom: 20px;
  padding-left: 20px;
  vertical-align: middle;
}

.basic01{
  border: solid 1px;
  width: 700px;
  height: 350px;
  position: absolute;
  left: 25%;
  float: left;
  
}
img{
  float: left;
  clear: both;
}
p{
float: left;
}

ul{
  list-style: none;
}

ul li{
  font-size: 20px;
}




.basic02{
  border: solid 1px;
  width: 350px;
  height: 450px;
  position: absolute;
  left: 35%;
  top: 30px;
  position: relative;
}
.basic02 img{
  position: absolute;
  left: 30px;
  width: 300px;
  height: 260px;
  padding-top: 5px;
  position: absolute;
  top: 10px;
  clear: both;
}

.basic02 .title{
  position: absolute;
  top: 290px;
  left: 40px;
}

.basic02 .content{
  position: absolute;
  top: 320px;
  left: 20px;
  color: lightskyblue;
  font-size: 20px;
  font-weight: 700;
  border-top: solid 1px;
  width: 310px;
  border-color: #282c34;
}

.basic02 .price{
  position: absolute;
  top: 400px;
  left: 40px;

}

.basic02 form .list{
  position: absolute;
  bottom: 60px;
  padding-left: 10px;
}

.basic3{
  border: solid 1px;
  width: 320px;
  height: 380px;
  position: absolute;
  left: 40%;
  position: relative;
}

.basic3 .basic3_content{
  position: absolute;
  bottom: 60px;
}

.basic3 .basic3_day{
  
  position: absolute;
  bottom: 5px;
}

.basic3 .basic3_day p{
  font-weight: 100;
  
}

